{% include 'sitio/cabecera.html' %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/principios_corporativos.css') }}"
/>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="principio"style="text-align:center">
        <img
          src="{{ url_for('static', filename='img/salud.png') }}"
          alt="Salud"
          class="img-fluid"
          style="width: 100px; height: 100px; justify-content: center;align-items: center;"
        />
        <h2>Salud</h2>
        <p class="text-justify"style="text-align:justify">
          Mantener el compromiso de entregar servicio de calidad conservando la
          responsabilidad social con nuestros clientes, consumidores y sociedad
          en general.
        </p>
      </div>
    </div>

    <div class="col-md-4 text-center mb-4">
      <div class="principio"style="text-align:center">
        <img
          src="{{ url_for('static', filename='img/crecimiento.png') }}"
          alt="Crecimiento"
          class="img-fluid"
          style="width: 100px; height: 100px; justify-content: center;align-items: center;"
        />
        <h2>Crecimiento</h2>
        <p class="text-justify"style="text-align:justify">
          El continuo desarrollo de productos, mercados y clientes y el
          fortalecimiento de la empresa, es la garantía de la mejora continua en
          productos con la aplicación de tecnología y los más altos estándares
          de calidad generando un servicio de óptima calidad.
        </p>
      </div>
    </div>

    <div class="col-md-4 text-center mb-4">
      <div class="principio"style="text-align:center">
        <img
          src="{{ url_for('static', filename='img/respeto.png') }}"
          alt="Respeto"
          class="img-fluid"
          style="width: 100px; height: 100px; justify-content: center;align-items: center;"
        />
        <h2>Respeto</h2>
        <p class="text-justify"style="text-align:justify">
          Es la principal característica sobre la que se desarrollan nuestros
          trabajos y nuestras labores cumpliendo con los compromisos realizados
          con los clientes, consumidores, colaboradores, proveedores,
          competidores, accionistas y familias.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center mb-4">
      <div class="principio"style="text-align:center">
        <img
          src="{{ url_for('static', filename='img/satisfaccion.png') }}"
          alt="Satisfacción"
          class="img-fluid"
          style="width: 100px; height: 100px; justify-content: center;align-items: center;"
        />
        <h2>Satisfacción</h2>
        <p class="text-justify"style="text-align:justify">
          Como valor empresarial es la materialización de la integración de
          fuerzas y sueños de las personas que conforman la empresa.
        </p>
      </div>
    </div>

    <div class="col-md-4 text-center mb-4">
      <div class="principio"style="text-align:center">
        <img
          src="{{ url_for('static', filename='img/responsabilidad_social.png') }}"
          alt="Responsabilidad Social"
          class="img-fluid"
          style="width: 100px; height: 100px; justify-content: center;align-items: center;"
        />
        <h2>Responsabilidad Social</h2>
        <p class="text-justify"style="text-align:justify">
          Es el compromiso expreso que la empresa tiene para preservar la salud
          de la comunidad.
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'sitio/pie.html' %}
