{% include 'sitio/cabecera.html' %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/productos.css') }}"
/>

<div class="container mt-5">
  <h2>Nuestros Productos</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto1.png') }}"
          alt="Producto 1"
          class="img-fluid producto-img"
        />
        <h3>Unión 1/2 Presión</h3>
        <p class="producto-precio">$600</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto2.png') }}"
          alt="Producto 2"
          class="img-fluid producto-img"
        />
        <h3>Registro de bola PVC 1/2</h3>
        <p class="producto-precio">$15.000</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto3.png') }}"
          alt="Producto 3"
          class="img-fluid producto-img"
        />
        <h3>Cheque 1 Pulgada</h3>
        <p class="producto-precio">$150.000</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto4.png') }}"
          alt="Producto 4"
          class="img-fluid producto-img"
        />
        <h3>Kit Entrada + Salida Tanque Plástico</h3>
        <p class="producto-precio">$30.000</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto5.png') }}"
          alt="Producto 5"
          class="img-fluid producto-img"
        />
        <h3>Grifería 1/2 Tanque Econo 100psi</h3>
        <p class="producto-precio">$70.000</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto6.png') }}"
          alt="Producto 6"
          class="img-fluid producto-img"
        />
        <h3>Unión universal 1/2pulgadas presión lisa</h3>
        <p class="producto-precio">$10.000</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto7.png') }}"
          alt="Producto 4"
          class="img-fluid producto-img"
        />
        <h3>Tanque de 1000 litros</h3>
        <p class="producto-precio">$600.000</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto8.png') }}"
          alt="Producto 5"
          class="img-fluid producto-img"
        />
        <h3>Tanque de 500 litros</h3>
        <p class="producto-precio">$350.000</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="producto">
        <img
          src="{{ url_for('static', filename='img/productos/producto9.png') }}"
          alt="Producto 6"
          class="img-fluid producto-img"
        />
        <h3>Tanque de 2000 litros</h3>
        <p class="producto-precio">$987.000</p>
      </div>
    </div>
  </div>
</div>

{% include 'sitio/pie.html' %}
