{% include 'sitio/cabecera.html' %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/servicios.css') }}"
/>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Limpieza de Tanques</h2>
      <p>
        Nuestra técnica avanzada de limpieza elimina sedimentos y contaminantes,
        asegurando agua potable segura y de calidad.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- Centrar las columnas con las imágenes -->
    <div class="col-md-3 text-center">
      <img
        src="{{ url_for('static', filename='img/desinfeccion.jpg') }}"
        alt="Desinfección"
        class="img-fluid img-service"
      />
      <h2>Desinfección</h2>
      <p class="text-justify" style="text-align: justify">
        Utilizamos procesos de desinfección efectivos para garantizar la
        eliminación de bacterias y microorganismos nocivos, manteniendo la
        pureza del agua.
      </p>
    </div>
    <div class="col-md-3 text-center">
      <img
        src="{{ url_for('static', filename='img/reparacion.jpg') }}"
        alt="Reparación"
        class="img-fluid img-service"
      />
      <h2>Reparación</h2>
      <p class="text-justify" style="text-align: justify">
        Nuestro equipo técnico altamente capacitado se encarga de reparar
        cualquier daño en los tanques elevados, asegurando su funcionamiento
        óptimo y duradero.
      </p>
    </div>
    <div class="col-md-3 text-center">
      <img
        src="{{ url_for('static', filename='img/instalacion.jpg') }}"
        alt="Instalación"
        class="img-fluid img-service"
      />
      <h2>Instalación</h2>
      <p class="text-justify" style="text-align: justify">
        Realizamos instalaciones precisas y seguras de tanques elevados,
        cumpliendo con los estándares de seguridad y eficiencia.
      </p>
    </div>
  </div>
</div>
{% include 'sitio/pie.html' %}
