/* Estilos para la cabecera */
body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  max-width: 100px;
  height: auto;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.dropdown-menu {
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #333;
  font-weight: 400;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.carousel-container {
  margin-top: 80px;
}

/* Estilos para la sección de contacto */
.bg-light {
  background-color: #f8f9fa;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Estilo para el logo */
nav .navbar-brand img {
  width: 200px; /* Ajusta el tamaño según sea necesario */
}

/* Estilos para centrar el mensaje de descuento en la barra de navegación */
.navbar-nav .navbar-text {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Puedes ajustar este valor según tu diseño */
  
}
/* Tamaño y color del mensaje de descuento */
.navbar-nav .navbar-text {
  font-size: 20px; /* Ajusta el tamaño del texto según tu preferencia */
  color: #d30303; /* Cambia el color según tu diseño */
  animation: moveAnimation 1s ease-in-out infinite alternate,
  shadowPulse 2s ease-in-out infinite; /* Agregado: Efecto de sombra pulsante */
}

/* Otro efecto llamativo para resaltar el mensaje de descuento */
@keyframes shadowPulse {
  0% {
    text-shadow: 0 0 10px rgba(243, 8, 8, 0.5); /* Sombra roja suave */
  }
  50% {
    text-shadow: 0 0 20px rgba(243, 8, 8, 1); /* Sombra roja más intensa */
  }
  100% {
    text-shadow: 0 0 10px rgba(243, 8, 8, 0.5); /* Vuelve a la sombra suave */
  }
}