/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

/* Estilos para la sección de Quienes Somos */
.container h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.container .quienes-somos-paragraphs p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.container h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
